@media screen {
    body{
        background-color:rgb(55, 50, 59);
        font-size: 3em;
        font-family: 'Agency FB';
    }
}

%box-default-size{
    width: 1240px;
    height: 850px;
    position:absolute;
    box-sizing: border-box;
    
}

%flex-position{
    align-self: center;
    margin-top: 10%;
}
%transition-settings{
    transition: opacity 2s ease-in-out;
}
%transition-filter{
    transition: filter 2s ease-in-out;
    -webkit-transition: filter 2s ease-in-out; 
    -moz-transition: filter 2s ease-in-out;
    -o-transition: filter 2s ease-in-out; 
}
section{
     #cf {
        z-index:1;
         img{
            transform: scale(1.5);
            align-content: center;
            margin-top: 0;
            left: 500px;
            @extend %box-default-size;
         }
     } 
}
article{
    background-color: rgb(143, 42, 42);
    border-radius: 20px;
    border: 15px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin-left: 181px;
    margin-top: 700px;
    height: 445px;
    width:1835px;
    
}
hr{
    width: 100%;
}
h1,h2,h3,p{
    margin: 5px 0 0 0;
    padding-left: 15px;
    padding-right: 15px;
}
//top image filter transition works only when there's no opacity transition on bottom image.
#cf img.top{
    filter:grayscale(0%);
    transition: filter 2s ease-in-out;
    &:hover::before{filter:grayscale(100%);}
 }
#cf img.bottom {
    opacity: 1;
    @extend %transition-settings;
    &:hover{opacity: 0;}
}

